body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.header {
	background-color: rgb(118, 184, 223);
	padding-top: 40px;
	padding-bottom: 40px;
}

.component {
	margin: 20px;
	border: 2px solid #ffffff;
	background-color: #3b3b3b;
}

.consultation {
	margin: auto;
	margin-top: 20px;
	width: 800px;
	height: max-content;
}

.consultations {
	flex: 1 1 0;
	transition: 1s;
	height: fit-content;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: center;
}

.consultations_holder {
	background-color: rgb(247, 247, 247);
}

.consultation_link {
	cursor: pointer;
	transition: background-color 0.5s;
	box-sizing: border-box;
	padding: 10px;
	background-color: rgb(118, 184, 223);
	margin: 5px;
	margin-top: 0px;
	height: 200px;
	width: 200px;
}

.consultation_link:hover {
	padding: 9px;
	background-color: rgb(247, 247, 247);
	border: 3px solid rgb(118, 184, 223);
	margin: 5px;
	margin-top: 0px;
	height: 200px;
	width: 200px;
}

.rounded {
	border-radius: 0px;
}

.sidebar_container {
	background-color: #e7e9ec;
	height: 100vh;
}

.sidebar {
	min-width: 30%;

	height: max-content;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.doctor_selector {
	min-height: 10vh;
}

.adder {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(122, 176, 212);
}

.comment_post {
	transition: 0.2s;
	border: none;
	height: 40px;
}

.comment_post:hover {
	background-color: rgb(219, 219, 219);
}

textarea {
	border: none;
	outline: none;
	resize: none;
	background-color: rgb(241, 194, 105);
}
