.patient_selector {
	height: 50px;
	padding-left: 20px;
	transition: 0.2s;
}

.patient_selector > h3 {
	margin-top: 10px;
}

.patient_selector:hover {
	cursor: pointer;
	position: relative;
	box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.11);
}

.blue_bird_logo {
	width: 100px;
}