.main_container {
	display: grid;
	grid-template-columns: 1fr 6fr;
}

.sidebar_hp {
	min-width: 30%;
	background-color: rgb(168, 168, 168);
	padding-left: 20px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.consultations_hp {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	background-color: rgb(229, 252, 168);
}
