.doctor_selector {
	padding-left: 20px;
	transition: 0.2s;
	background-color: aliceblue;
}

.doctor_selector:hover {
	cursor: pointer;
	background-color: rgb(215, 227, 238);
	position: relative;
	box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.11);
}
