<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../styles/hpviewLayout.css" />
		<link rel="stylesheet" href="../styles/coreStyles.css" />
		<link rel="stylesheet" href="../views/modal/tingle.css" />
		<link rel="stylesheet" href="../styles/doctorView.css" />
	</head>
	<body>
		<div class="header">
			<div class="header_logo">LOGO</div>
			<div class="header_logout"><a href="/logout">LOGOUT</a></div>
		</div>
		<div class="main_container">
			<div class="sidebar_container">
				<div class="adder add_patient">Add Patient</div>
				<div class="sidebar"></div>
			</div>
			<div class="consultations_holder">
				<div class="consultations"></div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script type="module" src="/views/scripts/doctorComponents.js"></script>

		<script src="/views/modal/tingle.js"></script>
	</body>
</html>
